#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.big-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dropzone-wrapper {
  color: #646cffaa;
  border-radius: 10px;
  border: 2px dashed;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  height: 50px;
  width: 550px;
}

.tag {
  color: #1a1a1a;
}

.fileDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fileDisplay p {
  background-color: #93A9D1;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
}


.png-container {
  max-width: 500px;
  max-height: 400px;

}

.png-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.tinder-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  background-color: #aaaaaa;

  width: 100%;
  height: 100%;
}

.tinder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  background-color: #aaaaaa;

  width: 2000px;
  height: 1000px;


}

.pair-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;
  flex-grow: 1;

  width: 100%;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button {
  margin: 0 5px;
}

.column {
  flex: 1;
  padding: 20px;
  border: 1px solid #f9fafa;
}

.column-title {
  font-weight: bold;
}


.analyzed-document {
  color: rgb(58, 162, 178);
  /* Color para "Documento Analizado" */
}

.subjects {
  color: rgb(179, 5, 179);
  /* Color para "Asignaturas" */
}

.notes {
  color: rgb(230, 124, 32);
  /* Color para "Notas" */
}