/* App.css */

/* Root */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Layout */
.big-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: white;
}

/* Dropzone */
.dropzone-wrapper {
  position: relative;
  /* Add position: relative */
  color: #646cffaa;
  border-radius: 10px;
  border: 2px dashed#93a9d1;
  padding: 10px;
  height: 50px;
  width: 550px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.dropzone-wrapper:focus,
.dropzone-wrapper.dropzone-active {
  border-color: #93a9d1;
}


.tag {
  color: #888;
}

.fileDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fileDisplay p {
  background-color: #93a9d1;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
}

/* Tinder */
.tinder-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: white;
  width: 100%;
  height: 100%;
}

.tinder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: white;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid #93a9d1;
}

/* Subjects and Grades */
.subject-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* Vertically align the subject boxes */
}

.subject-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.subject-grade-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 100%;
}

/* Subjects and Grades */
.subject-box {
  background-color: #f5f5f5;
  border: 1px solid white;
  padding: 10px;
  min-width: 250px;
  margin-right: 10px;
  color: black;
  font-size: 12px;
  height: 5px;
  display: flex;
  /* Add display flex */
  align-items: center;
  /* Vertically align the text */
}

.grade-box {
  background-color: #f5f5f5;
  border: 1px solid white;
  padding: 10px;
  width: 10px;
  height: 5px;
  color: black;
  justify-content: center;
  font-size: 12px;
  display: flex;
  /* Add display flex */
  align-items: center;
  /* Vertically align the text */
}

.subject-input {
  min-width: 200px;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 50px;
  font-size: 12px;
}

.grade-input {
  width: 30px;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 10px;
  font-size: 12px;
}


/* PNG Image */
.png-container {
  max-width: 100%;
  cursor: pointer;
}

.png-container img {
  width: 550px;
  height: auto;
  object-fit: contain;
  border: 1px solid #93a9d1;
}

/* Tinder Pair Container */
.pair-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  /* border-radius: 10px;
  border: 2px solid #646cff; */
  outline: none;

}

.image-container {
  flex-basis: 50%;
  margin-right: 20px;
}

.content-container {
  flex-basis: 50%;
  align-self: flex-start;
}

.json-container {
  background-color: #f5f5f5;
  border: 1px solid white;
  padding: 10px;
  overflow: auto;
}

.json-container pre {
  white-space: pre-wrap;
}

.linea-en-blanco {
  border-top: 40px solid transparent;
}

/* Progress bar */
.progress-bar-wrapper {
  position: relative;
  /* Add position: relative */
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.arrow-row {
  display: flex;
  gap: 10px;
  color: black;
}

.pair-indicator {
  margin-top: 5px;
  font-size: 13px;
  color: black;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}