/* App.css */

/* Root */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Layout */
.big-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: white;
}

/* Dropzone */
.dropzone-wrapper {
  position: relative;
  /* Add position: relative */
  color: #646cffaa;
  border-radius: 10px;
  border: 2px dashed#93a9d1;
  padding: 10px;
  height: 50px;
  width: 550px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.dropzone-wrapper:focus,
.dropzone-wrapper.dropzone-active {
  border-color: #93a9d1;
}


.tag {
  color: #888;
}

.fileDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fileDisplay p {
  background-color: #93a9d1;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
}

/* Tinder */
.tinder-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: white;
  width: 100%;
  height: 100%;
}

.tinder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: white;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid #93a9d1;
}

/* Subjects and Grades */
.subject-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* Vertically align the subject boxes */
}

.subject-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 2px solid #dedede;
  background-color: #dedede;
  border-radius: 4px;
}


.subject-grade-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 100%;
}

/* Subjects and Grades */
.subject-box {
  padding: 10px;
  min-width: 120px;
  margin-right: 10px;
  color: black;
  font-size: 12px;
  height: 5px;
  display: flex;
  /* Add display flex */
  align-items: center;
  /* Vertically align the text */
}

.grade-box {
  padding: 10px;
  width: 10px;
  height: 5px;
  color: black;
  justify-content: center;
  font-size: 12px;
  display: flex;
  /* Add display flex */
  align-items: center;
  /* Vertically align the text */
}

.year-box {
    padding: 10px;
    min-width: 100px;
    margin-right: 10px;
    color: black;
    font-size: 12px;
    height: 5px;
    display: flex;
    /* Add display flex */
    align-items: center;
    /* Vertically align the text */
}

.year-input {
  width: 120px;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 50px;
  font-size: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.subject-input {
  width: 120px;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 50px;
  font-size: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.grade-input {
  width: 30px;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 10px;
  font-size: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;

}


/* PNG Image */
.png-container {
  max-width: 100%;
  cursor: pointer;
}

.png-container img {
  width: 550px;
  height: auto;
  object-fit: contain;
  border: 1px solid #93a9d1;
}

/* Tinder Pair Container */
.pair-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  color: white;
  /* border-radius: 10px;
  border: 2px solid #646cff; */
  outline: none;

}

.png-container img {
  max-width: 100%; /* Make the image width 100% of its container */
  height: auto;
  object-fit: contain;
}

.content-container {
  flex-basis: 50%;
  align-self: flex-start;
  margin-left: 20px;
  color: #213547;
}

.no-top-margin {
  margin-top: 0;
}

.json-container {
  background-color: #f5f5f5;
  border: 1px solid white;
  padding: 10px;
  overflow: auto;
}

.json-container pre {
  white-space: pre-wrap;
}

.linea-en-blanco {
  border-top: 40px solid transparent;
}

/* Progress bar */
.progress-bar-wrapper {
  position: relative;
  /* Add position: relative */
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.arrow-row {
  display: flex;
  gap: 10px;
  color: black;
}

.pair-indicator {
  margin-top: 5px;
  font-size: 13px;
  color: black;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.png-container.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    cursor: zoom-out;
    /* Cambia el cursor a una lupa para indicar la posibilidad de hacer zoom */
    overflow: hidden;
    /* Evita que la imagen se desborde del contenedor */
    overflow-y: auto;
}

.png-container.expanded:hover {
    cursor: zoom-in;
    /* Cambia el cursor a una lupa con un signo de "+" al pasar sobre la imagen */
}

.png-container.expanded img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    transition: transform 0.3s ease;
    /* Agrega una transición suave al aplicar la transformación de escala */
}

.png-container.expanded:hover img {
    transform: scale(2.4);
    /* Aplica una escala del 240% a la imagen al pasar sobre ella */
}

.collapse-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}


.subject {
    font-weight: bold;
}

.grade {
    font-weight: bold;
}

.year {
    font-weight: bold;
}

.Student-name-and-arrow-container{
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center align the content */
    margin:0;
}
